fieldset {
	background-color: #d7d7d7;
	padding:0 2% 2%;
	margin:0 0 1.9em 0;
	border-radius: 8px;
}

legend {
	text-transform:uppercase;
	font-size:11px;
	color:#fff;
	padding: 0.5% 1em;
	margin:0 0 1.6% 0;
	letter-spacing:1px;
	background-color: #000;
	border:1px solid #d7d7d7;
	border-radius: 11px;
	font-weight:bold;
}

input {
	border-radius: 8px;
	padding: 0.5% 1em;
}

table {
	border-collapse: collapse;
}

table th {
	text-align: right;
}

table, th, td {
	border: 1px solid #d7d7d7;
	padding: 0 1em;
}

table thead tr {
	background-color: #d7d7d7;
	
}

td.latitude, td.longitude, td.speed, td.heading {
	text-align: right;
}

div#counter {
	position: fixed;
	bottom: 0;
	right: 1em;
}